*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/
*.iws
*.ipr
out/

.gradle/
build/
*/build/

local.properties
gradle.properties

captures/
.externalNativeBuild/
.cxx/

*.log
*.apk
*.ap_
*.aab

*.dex
*.class

bin/
gen/
proguard/

*.jks
*.keystore

.navigation/
lint/

google-services.json

*.hprof
.profiler/

*.orig
*.rej
*.swp
*~
.*.swp

tmp/
temp/

.kotlin/
kotlin-profile-*.json
